### System
# User/group for container permissions
PUID=1000 #id -u
PGID=1000 #id -g OR getent group docker

# Timezone
TZ=Australia/Sydney

### Applications
APPDATA=${HOME}/AppData

# Nginx with Let's Encrypt SSL
DOMAIN_NAME=example.com
LETS_ENCRYPT_EMAIL=

## Pi-hole
PIHOLE_IP=
PIHOLE_WEBPASSWORD=

## Transmission
TRANSMISSION_URL=http://transmission:9091/transmission/rpc