### System
# User/group for container permissions
PUID=1000
PGID=1000

# Timezone
TZ=Australia/Sydney

### Applications
APPDATA=${HOME}/AppData

## Pi-hole
PIHOLE_IP=
PIHOLE_WEBPASSWORD=

## Transmission
TRANSMISSION_URL=http://transmission:9091/transmission/rpc